nav {
    height: 64px;
    padding-inline: 50px;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 
