.userstable {
    width: 70%;
    margin-top: 60px;
    border: 1px solid #f4efef;
    border-collapse: collapse;
    margin-left: 15%;
  }

  th,td {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
  }
  
  .userstable th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #151313;
    height: 40px;
    width: 10%;
    background-color: rgb(175, 123, 205);
  }
  
  .userstable td {
    border: 1px solid black;
    padding: 5px;
    height: 40px;
    width: 15%;
  }

  .image-button:hover{
    opacity: 0.8;
  }
  .image-button:active{
    transform: scale(0.99);
  }

  
