.userstable {
    width: 70%;
    margin:60px 20px;
    border: 1px solid #f4efef;
    border-collapse: collapse;
    margin-left: 15%;
  }

  .userstable tr {
   
  }
  
  .userstable th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #151313;
    width: 22%;
  }
  
  .userstable td {
    border: 1px solid #151313;
    padding: 5px;
    width: 20%;
  }

  .image-button:hover{
    opacity: 0/.8;
  }
  .image-button:active{
    transform: scale(0.99);
  }

  
