$text-color: #1e1e1e;
$btn-color: #4b267e;
$main-color: #4B267E;
$secondary-color: #d7b7fd42;
$white-text-color: #ffffff;

$tablet-width: 1190px;
//$tablet-wide: 1599px;
$maxWidth: 1536;
$mobile-width: 790px;
